body {
  font-family: "Arial", sans-serif;
  background-image: url("path_to_background_image"); /* add background image */
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  height: 100hv;
}

.app-container {
  height: 100%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 50px;
  gap: 40px;
}

.card {
  background: #f1f1f3;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 550px;
  max-width: 400px;
  padding: 25px 15px;
  text-align: center;
}

.divider {
  background: #000000;
  margin-top: 15px;
  margin-inline: auto;
  width: 50%;
  height: 1px;
}

.content {
  flex: 1;
  margin-top: 10px;
  min-width: 300px;
  max-width: 330px;
  padding-inline: 35px;
}

.image {
  flex: 1;
  width: 100%;
  min-width: 290px;
  max-width: 380px;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  margin: auto;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-fit {
  width: 78%;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

h1 {
  margin-top: 15px;
  font-size: 24px;
  color: #333;
}

p {
  margin: 5px 0;
  color: #000000;
}

.info {
  display: flex;
  gap: 10px;
  align-items: center;
}

.info-left p {
  width: 50%;
  justify-content: center;
}

.center-info {
  /* flex: 1; */
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.details {
  margin-top: 10px;
}

.details p {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-inline: 15px;
}

.region {
  display: flex;
  align-items: flex-start;
}

a {
  display: inline-block;
  color: #001583;
  text-decoration: underline;
  padding-inline: 15px;
}

a:hover {
  text-decoration: underline;
}

.monday {
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-thickness: 5px;
  text-decoration-color: #538bba;
  background-color: #c0c2c1;
}

.definition {
  background-color: #ffffff;
  padding: 8px 15px;
  border-radius: 6px;
  align-items: flex-start;
}

.gap-3 {
  gap: 15px;
}

.mx-0 {
  margin-inline: 0px !important;
}

.px-4 {
  background: #eee;
  display: flex;
  text-align: left;
  padding-left: 15px;
}

.map {
  padding-left: 30px;
}

.search-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 20px;
}

input {
  padding: 15px 10px;
  border-radius: 10px;
  background-color: #bfbfc7;
  color: #000;
  border: none;
  opacity: 0.5;
}

button {
  padding: 15px;
  border-radius: 18px;
  color: #000;
  background-color: #0de41c;
  font-weight: 500;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: rgba(0, 158, 19, 0.815);
}

.error {
  color: rgb(234, 43, 43);
}

@media (max-width: 869px) {
  .card-container {
    flex-direction: column;
    gap: 20px;
    padding: 40px;
  }

  .content {
    min-width: 300px;
    padding-inline: 10px;
  }
}
@media (max-width: 400px) {
  .card-container {
    flex-direction: column;
    gap: 20px;
    padding: 10px;
  }

  .content {
    min-width: 100%;
  }
}
